<div id="wrapper">
    <div class="order-header">
        <button (click)="handleGoMain()">
            <img src="../../../assets/images/back.svg" alt="Назад">
        </button>
        <p class="order-id">Заказ #{{order?.id}}</p>
        <p class="order-status">{{ getStatus(order?.status) }}</p>
    </div>
    <hr>
    <div class="other-info">
        <p class="order-address">Адрес: {{ order?.orderAddress}}</p>
        <p class="order-type">Тип уборки: {{ getCleanType(order?.cleanType)}}</p>
        <p class="order-type">Тип объекта: {{ getObjectType(order?.orderType)}}</p>
        <p class="order-type">Стоимость: {{ order?.price }} ₽</p>
    </div>
    <div class="review">
        <p>Оставьте отзыв!</p>
        <textarea name="" id="reviewText" cols="30" rows="10" [(ngModel)]="review.text" *ngIf="review" disabled></textarea>
        <textarea name="" id="reviewText" cols="30" rows="10" *ngIf="!review"></textarea>
        <div id="other-review">
            <div id="containerLoader">
                <label for="imageLoader" id="imageLoaderLabel">Прикрепить фотографии к отзыву <br>(не более трех штук)</label>
                <input
                    type="file"
                    id="imageLoader"
                    name="imageLoader"
                    accept=".jpg, .jpeg, .png"
                    multiple 
                    (change)="uploadPhotos()"
                    *ngIf="review" disabled/>
                <input
                    type="file"
                    id="imageLoader"
                    name="imageLoader"
                    accept=".jpg, .jpeg, .png"
                    multiple 
                    (change)="uploadPhotos()"
                    *ngIf="!review"/>
            </div>
            <div class="preview">
                <p>Нет выбранных фото</p>
            </div>
            <div id="review-values" *ngIf="review" disabled>
                <div class="stars"><img src="../../../assets/images/star.svg" alt="1 звезда"></div>
                <div class="stars"><img src="../../../assets/images/star.svg" alt="2 звезда"></div>
                <div class="stars"><img src="../../../assets/images/star.svg" alt="3 звезда"></div>
                <div class="stars"><img src="../../../assets/images/star.svg" alt="4 звезда"></div>
                <div class="stars"><img src="../../../assets/images/star.svg" alt="5 звезда"></div>
            </div>
            <div id="review-values" *ngIf="!review">
                <div class="stars"><img src="../../../assets/images/star.svg" alt="1 звезда"></div>
                <div class="stars"><img src="../../../assets/images/star.svg" alt="2 звезда"></div>
                <div class="stars"><img src="../../../assets/images/star.svg" alt="3 звезда"></div>
                <div class="stars"><img src="../../../assets/images/star.svg" alt="4 звезда"></div>
                <div class="stars"><img src="../../../assets/images/star.svg" alt="5 звезда"></div>
            </div>
            <button (click)="handleReview()" *ngIf="review" disabled>Отправить отзыв</button>
            <button (click)="handleReview()" *ngIf="!review">Отправить отзыв</button>
        </div>
    </div>
</div>
