:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
}

.father {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 350px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    background-color: #A8B6FA;
}

.header {
    font-size: 18pt;
    font-family: ui-sans-serif;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 35px;
}

input {
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-body {
    width: 100%;
    display: flex;
    height: calc(100% - 150px);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.field {
    padding-bottom: 25px;
}

.footer {
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.footer button {
    height: 35px;
    width: 150px;
    font-size: 1rem;
    padding: 0.6em ;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer button:hover {
    background-color: #cacaca;
}

input[type='date'] {
    width: 92%; 
    margin-left: 7px;
}

a img {
    width: 15px;
}

.add-a {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: auto !important;
}

ul {
    overflow-y: overlay;
    height: 250px;
}


ul::-webkit-scrollbar {
    width: 7px;
    border-radius: 3px;
    background-color: #A8B6FA;
}

ul::-webkit-scrollbar-thumb {
    background-color: #5571FA;
    border-radius: 3px;
}