<div class="father" *ngIf="isNew">
    <div class="header">Создание сотрудника</div>
    <div class="main-body">
        <div class="field">
            <p>Введите ФИО:</p>
            <input type="text" name="name" id="" [(ngModel)]="cleaner.fio">
        </div>

        <div class="field">
            <p>Введите логин</p>
            <input type="text" name="login" id="" [(ngModel)]="cleaner.login">
        </div>

        <div class="field">
            <p>Введите пароль</p>
            <input type="text" name="pass" id="" [(ngModel)]="cleaner.password">
        </div>

        <div class="field">
            <p>Введите дату рождения</p>
            <input type="date" name="bday" id=""  [(ngModel)]="cleaner.birthday">
        </div>
    </div>

    <div class="footer">
        <button (click)="handleAddEmployee()">Добавить</button>
        <button (click)="handleGoBack()">Назад</button>
    </div>
</div>


<div class="father" *ngIf="!isNew">
    <div class="header">Просмотр сотрудника</div>
    <div class="main-body">
        <div class="field">
            <p>ФИО: {{ cleaner?.fio }}</p>
        </div>

        <div class="field">
            <p>Логин: {{ cleaner?.login }}</p>
        </div>

        <div class="field">
            <p>Дата рождения: {{ cleaner?.birthday | date: 'dd.MM.yyyy' }}</p>
        </div>

        <div class="dropdown-center field">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Активные заказы сотрудника
            </a>
            <ul class="dropdown-menu">
                <li *ngFor="let order of getActiveOrder()">
                    <a class="dropdown-item add-a" href="admin/employee/2/order/{{order.id}}">#{{ order.id }} <div>{{ order?.review?.value || 0 }} <img src="../../../../assets/images/star.svg" alt=""></div></a>
                </li>
            </ul>
          </div>

          <div class="dropdown-center field">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Выполненные заказы сотрудника
            </a>
            <ul class="dropdown-menu">
                <li *ngFor="let order of getDoneOrder()">
                    <a class="dropdown-item add-a" href="admin/employee/2/order/{{order.id}}">#{{ order.id }} <div>{{ order?.review?.value || 0 }} <img src="../../../../assets/images/star.svg" alt=""></div></a>
                </li>
            </ul>
          </div>
    </div>

    
    <div class="footer">
        <button (click)="handleGoBack()">Назад</button>
    </div>
</div>