<div id="header">
    <div *ngIf="order" id="container">
        <p id="numberOrder">Текущий заказ #{{order.id}}</p>
        <div id="time" class="field">
            <p>Необходимо прибыть к {{ order.orderDate | date: 'd MMMM, в H:mm' }}</p>
        </div>
        <div id="address" class="field">
            <p>Адрес: {{ order.orderAddress }}</p>
        </div>
        <div id="object-type" class="field">
            <p>Тип объекта: {{ getObjectType(order.orderType) }}</p>
        </div>
        <div id="clean-type" class="field">
            <p>Тип уборки: {{ getCleanType(order.cleanType) }}</p>
        </div>
        <div id="order-status" class="field">
            <p>Текущий статус: {{ getStatus(order.status) }}</p>
        </div>
        <div id="statusChanger" class="field">
            <button (click)="handleChangeStatus(order.status)">{{ getNextStatus(order.status) }}</button>
        </div>
    </div>
    <div *ngIf="!order">
        <h3>Нет активных заказов!</h3>
    </div>
</div>