<div id="wrapper">
    <div class="order-header">
        <p class="order-id">Заказ #{{order?.id}}</p>
        <p class="order-status">{{ getStatus(order?.status) }}</p>
    </div>
    <hr>
    <div class="other-info">
        <p class="order-address">Адрес: {{ order?.orderAddress}}</p>
        <p class="order-type">Тип уборки: {{ getCleanType(order?.cleanType)}}</p>
        <p class="order-type">Тип объекта: {{ getObjectType(order?.orderType)}}</p>
        <p class="order-type">Клинер приедет {{ order.orderDate | date: 'd MMMM, y, в H:mm'}}</p>
    </div>

    <div class="actions">
        <button (click)="cancel()">Отменить заказ</button>
        <button (click)="close()">Назад</button>
    </div>
</div>