<div id="header">
    <p>Клининг в Самаре</p>
    <button (click)="handleGoToUserPanel()">
        <img src="../../../assets/images/user.svg" alt="Профиль">
    </button>
</div>
<div id="main-container">
    <div id="left-side">
        <app-active-order-list [orders]="activeOrders" [modalService]="modalService" [orderManager]="orderManager"></app-active-order-list>
        <app-make-order [customerId]="customerId" [orderManager]="orderManager"></app-make-order>
    </div>
    <div id="right-side">
        <app-history-order [orders]="doneOrders" [orderManager]="orderManager"></app-history-order>
    </div>
</div>
<app-modal *ngIf="modalService.isModalOpen" [order]="modalService.currentOrder" (cancelOrder)="modalService.cancelOrder($event)" (closeEvent)="modalService.closeModal()"></app-modal>