<div id="header">
    <p>Клининг в Самаре</p>
    <button (click)="handleGoToUserPanel()">
        <img src="../../../assets/images/user.svg" alt="Профиль">
    </button>
</div>
<div id="main-container">
    <div id="left-side">
        <app-active-order-list [orders]="activeOrders"></app-active-order-list>
        <app-make-order [customerId]="customerId"></app-make-order>
    </div>
    <div id="right-side">
        <app-history-order [orders]="doneOrders"></app-history-order>
    </div>
</div>