<div class="header">
    <p>Хотите сделать новый заказ?</p>
</div>

<form class="body" [formGroup]="orderForm">
    <div class="order-field">
        <p>Выберите тип объекта</p>
        <select name="order_type" id="order-type" formControlName="order_type">
            <option>--- Тип объекта ---</option>
            <option *ngFor="let object of objectType" value={{object.key}}>{{ object.value }}</option>
        </select>
    </div>
    <div class="order-field">
        <p>Выберите тип уборки</p>
        <select name="clean_type" id="clean_type" formControlName="clean_type">
            <option>--- Тип уборки ---</option>
            <option *ngFor="let object of cleanType" value={{object.key}}>{{ object.value }}</option>
        </select>
    </div>
    <div class="order-field">
        <p>Введите площадь уборки</p>
        <input type="text" formControlName="square">
    </div>
    <div class="order-field" >
        <p>Введите адрес уборки</p>
        <input type="text" formControlName="order_address">
    </div>
    <div class="order-field" >
        <p>Выберите дату и время</p>
        <input type="datetime-local" formControlName="date" name="order_date" id="order_date">
    </div>
    <div class="order-field" >
        <p>Выберите клинера</p>
        <select name="cleaner" id="cleaner" formControlName="order_cleaner_id">
            <option>--- Клинер ---</option>
            <option *ngFor="let cleaner of cleaners" value={{cleaner.id}}>{{ cleaner.fio }}</option>
        </select>
    </div>
</form>

<div class="header">
    <button (click)="handleMakeOrder()">Оформить заказ</button>
</div>